* {
  box-sizing: border-box;
}

.main-home{
  width: 95vw;
  height: 95vh;
  border-radius:0.7rem;
  display:flex;
  justify-content: center;
  align-items:center;
}
.home{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
.home__h1{
  color:#293264;
  font-size: 4rem;
}
.home__p{
  color:#293264;
  font-size: 1.2rem;
  text-align: center;
}

.btn{
  background-color:#4D5B9E;
  border:none;
  color:#fff;
  padding:0.5rem 1rem;
  border-radius:0.9rem;
  transition: all 0.5s ease;
  outline:none;
  cursor: pointer;
}
.btn:link,
.btn:visited{
  outline:none;
}
.btn:hover{
  transform: translateY(-2px);
  box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.7);
  outline:none;
}
.btn:active{
  transform: translateY(0);
  outline:none;
  box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.2);
}
.home__btn {
  font-size: 1.2rem;
  padding: 0.7rem 4rem;
}
.quiz-btn{
  width: 150px;
  margin: 0 auto;
}
.utility{
  display:flex;
  flex-direction: column;
  /* margin: 20px; */
  justify-content: center;
  width:95vw;
  /* height: 100%; */
  border-radius: 1rem;
  background-color:#fdfdff;
  margin:1.5rem auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.quiz{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;

}
.quiz__heading{
  font-family: Catamaran;
  width: 90vw;
  text-align: center;
  color: #293264;
}
.quiz__answer-holder {
  border-bottom: 1px solid #DBDEF0;
}

.answer{
  border: 1px solid #293264;
  margin: 4px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 7px;
  padding: 2px 2px;
  color: #293264;
  min-width: 100px;
  
}
.answer:last-child{
  margin-bottom: 25px;
}
.answer:hover{
  background-color: #D6DBF5;
  border: none;
  padding: 3px 3px;
  cursor: pointer;
}
.form {
  display: flex;
  margin: 20px;
  font-size:1.5rem
}
.form__label{
  width: 50%;
}
.custom-label{
  margin-right: 20px;
  color: #293264;
}
select{
  padding: 10px 40px;
  text-align: center;
  font-size: 1rem;
  border-radius: 15px;
  box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  color: #293264;
  width: 250px;
  /* width:100% */
}
.form__select {
  width: 50%;
}
select:hover{
  background-color: rgb(240, 234, 234);
}
.correct{
  background-color: rgb(38, 216, 157);
  pointer-events: none;
  border: none;
}
.correct:hover{
  pointer-events: none;
  border: none;
}
.inCorrect{
  background-color: rgb(238, 129, 129);
  pointer-events: none;
  border: none;
}
.inCorrect:hover{
  pointer-events: none;
  border: none;
}
.correctButUnheld{
  background-color: rgb(185, 248, 227);
  pointer-events: none;
  border: none;
}
.correctButUnheld:hover{
  pointer-events: none;
  border: none;
}
.nothing{
  pointer-events: none;
  opacity: 0.5;
}
.nothing:hover{
    pointer-events: none;
    opacity: 0.3;
}
.isHeld {
  background-color: #8d93b3;
  border: none;
}